<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CollabAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CollabAddIn.Properties.Settings>
            <setting name="CollabServerURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CollabUser" serializeAs="String">
                <value />
            </setting>
            <setting name="CollabPass" serializeAs="String">
                <value />
            </setting>
            <setting name="settingsValidated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="actionItemsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollabLoginTicket" serializeAs="String">
                <value />
            </setting>
        </CollabAddIn.Properties.Settings>
    </userSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>